<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Absen</title>
    <link rel="icon" href="favicon.ico?v=1.1">
</head>
<body>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- isi konten -->

<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

<div class="grey-bg container-fluid">
  <section id="minimal-statistics">
    <div class="row">
      <div class="col-12 mt-3 mb-1">
        <h4 class="text-uppercase">Hay <%= nama %></h4>
        <p>Data Absen</p>
      </div>
    </div>
    <style>
      body{
        background-image: linear-gradient(to right, rgb(228, 100, 174) , rgb(163, 95, 241));

      }

      button{
            background-image: linear-gradient(to right, rgb(228, 100, 174) , rgb(163, 95, 241));
        }
      /* Gaya CSS untuk notifikasi */
      .fixed-notification {
        position: fixed;
        top: -100px; 
        left: 50%; 
        transform: translateX(-50%); 
        z-index: 9999; 
        transition: top 0.5s; 
      }
  
      .show-notification {
        top: 20px; 
      }
      .icon-tambah{
        display: inline-block;
      padding: 12px;
      background-color: white;
      border-radius: 20%;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      position: fixed;
      bottom: 10px;
      font-size: 20px;
      box-shadow: 11px 7px 32px 0px rgba(0,0,0,0.58);
-webkit-box-shadow: 11px 7px 32px 0px rgba(0,0,0,0.58);
-moz-box-shadow: 11px 7px 32px 0px rgba(0,0,0,0.58);
      }
      .icon-back {
      display: inline-block;
      padding: 12px;
      background-color: white;
      border-radius: 20%;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      position: fixed;
      bottom: 80px;
      font-size: 20px;
      box-shadow: 11px 7px 32px 0px rgba(0,0,0,0.58);
-webkit-box-shadow: 11px 7px 32px 0px rgba(0,0,0,0.58);
-moz-box-shadow: 11px 7px 32px 0px rgba(0,0,0,0.58);
      }
      body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Adjust the opacity as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure the overlay is above other content */
  }

  .loading-container {
    text-align: center;
    z-index: 10000; /* Ensure the loading container is above the overlay */
  }

  .loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    margin: 0 auto 10px;
  }
  .card-body{
  overflow-x: auto;
  white-space: nowrap;
}
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  select {
            margin-bottom: 1rem;
            padding: 0.5rem;
            border: 1px solid #ced4da;
            border-radius: 5px;
            width: 100%;
        }
    </style>

<div class="overlay">
  <div class="loading-container">
    <div class="loader"></div>
    <p>Loading...</p>
  </div>
</div>

  <div id="notification" class="alert alert-info fixed-notification" style="display: none;">

  </div>
  

  <section id="kotak">
    <div  class="container mt-5">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          
        </div>
        <div class="card-body">


          <%               
          
          if(data === true){ 
          
          
          %>

          <a href="/data_absen">Cari Bulan Lain</a>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">Nama</th>
                <th scope="col">tanggal masuk</th>
                <th scope="col">lokasi absen</th>
                <th scope="col">Jabatan</th>
                <th scope="col">jam masuk</th>
                <th scope="col">jam pulang</th>
                <th scope="col">shift</th>
              </tr>
            </thead>
            <tbody>
              <%

              var no = 1 ;

              rekap_absen.forEach(data_absen => { 
                
              %>
              <tr>
                <th scope="row"><%= no++ %></th>
                <td><%= data_absen[0] %></td>
                <td><%= data_absen[3] %></td>
                <td><%= data_absen[4] %></td>
                <td><%= data_absen[5] %></td>
                <td><%= data_absen[6] %></td>
                <td><%= data_absen[7] %></td>
                <td><%= data_absen[8] %></td>
              </tr>
              <% 
            
            }); %>
            </tbody>
          </table>
          <% 
        
        } 
        else if(bulan===false){
          %>
          <p style="color:red;">Data Tidak Ada</p>
          <h2>pilih tanggal</h2>
          <form method="get" action="/data_absen">
          <div class="mb-3">
                    <select name="tanggal" id="tanggal" class="form-select" required>
                        <option value="">Bulan?</option>
                        <option value="Januari">Januari</option>
                        <option value="Februari">Februari</option>
                        <option value="Maret">Maret</option>
                        <option value="April">April</option>
                        <option value="Mei">Mei</option>
                        <option value="Juni">Juni</option>
                        <option value="Juli">Juli</option>
                        <option value="Agustus">Agustus</option>
                        <option value="September">September</option>
                        <option value="Oktober">Oktober</option>
                        <option value="November">November</option>
                        <option value="Desember">Desember</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Cari</button> 
              </form>
            <%
        }
        else{  
          
          %>


          <h2>pilih tanggal</h2>
          <form method="get" action="/data_absen">
          <div class="mb-3">
                    <select name="tanggal" id="tanggal" class="form-select" required>
                        <option value="">Bulan?</option>
                        <option value="Januari">Januari</option>
                        <option value="Februari">Februari</option>
                        <option value="Maret">Maret</option>
                        <option value="April">April</option>
                        <option value="Mei">Mei</option>
                        <option value="Juni">Juni</option>
                        <option value="Juli">Juli</option>
                        <option value="Agustus">Agustus</option>
                        <option value="September">September</option>
                        <option value="Oktober">Oktober</option>
                        <option value="November">November</option>
                        <option value="Desember">Desember</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Cari</button> 
              </form>
          <%}%>
        </div>
      </div>
    </div>
</section>


      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
<script>


  window.addEventListener("load", function () {
    const overlay = document.querySelector(".overlay");

    
    setTimeout(function () {
      overlay.style.display = "none";
    }, 2000); // 2 seconds

    
  });
</script>



<!-- batas isi konten -->
<script src="https://kit.fontawesome.com/3d5b751cd6.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    
    <script>

fetch('https://api.myip.com/', { mode: 'no-cors' })
  .then(response => {
    console.log('Permintaan berhasil, tetapi tidak dapat mengakses respons langsung karena mode no-cors.');
  })
  .catch(error => {
    console.error('Error:', error.message);
  });

    </script>
</body>
</html>